/* Current Word */
.current-header {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 1.5;
    text-align: center;
    color: #616161;
    display: block;
}

.current-word {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3px;
    text-align: center;
    min-height: 35px;
    color: #18252e;
    display: block;
}

.word-area {
    padding: 30px 15px 0px 15px;
    width: 100%;
}
