/* Game Area */

.game-area {
    padding: 20px;
    margin:0;
    float: left;
    width: 300px;
}

.word-area {
    padding: 30px 15px;
    width: 100%;
}

.clear {
    clear: both;
}

/* Score Area */

.score-box {
    width: 200px;
    border-radius: 5px;
    border: solid 1px #EEEEEE;
    float: right;
    margin: 15px;
    padding: 20px;
}

.word-list {
    width: 100%;
    height: 408px;
}

.total-score {
    border-top: 1px solid #E0E0E0;
    padding-top: 25px;
    width: 100%;
}

.words {
    width: 50%;
    float: left;
}

.scores {
    width: 50%;
    float: left;
    text-align: right;
}

.score-box li {
    padding-top: 15px;
    list-style-type: none;
}

.total-score h2 {
    text-align: left;
}

h2 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
    display: inline;
    color: #616161;
}

.total-score span {
    text-align: right;
    float: right;
    position: relative;
    top: -5px;
    font-size: 25px;
}

/* Current Word */
.current-header {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 1.5;
    text-align: center;
    color: #616161;
    display: block;
}

.current-word {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3px;
    text-align: center;
    min-height: 35px;
    color: #18252e;
    display: block;
}

/* Button States */
.button {
    width: 100%;
    border-radius: 5px;
    background-color: #FF9800;
    margin-top: 25px;
    padding: 20px 0;
    -webkit-transition: background 0.5s; /* Safari */
    transition: background 0.5s;
    box-shadow: 2px 2px 5px rgba(255, 204, 128, .25);
    display: block;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    letter-spacing: 3px;
}

.button:hover {
    background: #EF6C00;
    cursor: pointer;
}
